<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
  	<title>Nobel Le Bon Ne Bol Lo Neb</title>

  	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  	
  	<link rel='stylesheet prefetch' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
	
	<link href="https://fonts.googleapis.com/css?family=Tangerine" rel="stylesheet">
	
	<link href='https://fonts.googleapis.com/css?family=Didact+Gothic' rel='stylesheet' type='text/css'>
	
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">

	<!-- Our stylesheet -->
	<link href="style.css" rel="stylesheet" type="text/css" />	
	<link href="spinner.css" rel="stylesheet" type="text/css" />	

	<script src="https://code.jquery.com/jquery-1.12.3.min.js" integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ=" crossorigin="anonymous"></script>

</head>
<header>

</header>
<!-- Container for our app, using the nobelController -->
<body ng-app="nobelApp" ng-controller="nobelCtrl" >
	<section ng-if="isLoading" class="loader-wrapper">
	  <div class="spinner">
	    <i></i>
	    <i></i>
	    <i></i>
	    <i></i>
	    <i></i>
	    <i></i>
	  </div>
	</section>

	<div id="container-fluid wrapper">
		<!-- top menu bar for choice of visualization -->
		<div id="menubar" class="col-md-12">
			<div class="col-xs-6 active" id="choice1" ng-click="pageButton('globeSunburstPage')">
				Sunburst
			</div>
			<div class="col-xs-6" id="choice2" ng-click="pageButton('chord')">
				Chord Chart
			</div>
		</div>
		<!-- Here are the divs containing the separate visualization pages-->
		<div id="globeSunburstPage" class="col-xs-12" ng-hide="hideSunburst">
			<div id="main" class="row">
      		
	      		<div class="col-sm-6">
					<div id="globeSunburst" ng-controller="sunburst">
						<div id="globe">
						</div>
						<div id="sunburst">
						</div>
					</div>
				</div>
				<div id="sidebar" class="col-sm-5 col-sm-offset-6" style="float:left;">
					<div class="categoryChoice row">
						<div class="col-sm-12">
							<div class="col-sm-7 remove-left-space remove-right-space">
								<h5>Choose category</h5>
								<div class="col-sm-6 remove-left-space catChoice">
									<label class="color-chemistry">
										<input type="checkbox" ng-model="catChoiceChemistry" ng-checked="catChoiceChemistry" ng-change="catChoice('chemistry')" checked/><span class="catChoiceCheckbox"><span></span></span> Chemistry
									</label></br>
									<label class="color-economics">
										<input type="checkbox" ng-model="catChoiceEconomics" ng-checked="catChoiceEconomics" ng-change="catChoice('economics')" checked/><span class="catChoiceCheckbox"><span></span></span> Economics
									</label></br>
									<label class="color-literature">
										<input type="checkbox" ng-model="catChoiceLiterature" ng-checked="catChoiceLiterature" ng-change="catChoice('literature')" checked/><span class="catChoiceCheckbox"><span></span></span> Literature
									</label>
								</div>
								<div class="col-sm-6 remove-left-space remove-right-space catChoice">
									<label class="color-medicine">
										<input type="checkbox" ng-model="catChoiceMedicine" ng-checked="catChoiceMedicine" ng-change="catChoice('medicine')" checked/><span class="catChoiceCheckbox"><span></span></span> Medicine
									</label></br>
									<label class="color-peace">
										<input type="checkbox" ng-model="catChoicePeace" ng-checked="catChoicePeace" ng-change="catChoice('peace')" checked/><span class="catChoiceCheckbox"><span></span></span> Peace
									</label></br>
									<label class="color-physics">
										<input type="checkbox" ng-model="catChoicePhysics" ng-checked="catChoicePhysics" ng-change="catChoice('physics')" checked/><span class="catChoiceCheckbox"><span></span></span> Physics
									</label>
								</div>
							</div>
							<div class="col-sm-5 data-selections-col">
								<div class="row">
									<div class="col-sm-12 ">
										<h5>Select data</h5>
										<select class="max-select-width" required ng-model="wbDataChoice" ng-options="wbd.title for wbd in worldBankData" ng-change="onWbDataChange(wbDataChoice)">
											<option value=""> -- Select -- </option>
										</select>
									</div>
								</div>

								<div class="row selectCountryDiv">
									<div class="col-sm-12" id="selectCountryDiv">
										<h5>Choose country </h5>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div id ="timeslide" class="row">
					</div>

					<div class="row">
						<p id ="dataLabel">{{chosenWBDDescription}}</p>
						<span align="left">Low</span>
						<span id="spanFiller"></span>
						<span align="right">High</span>
						<div class="gradient">
							<span></span>
						</div>
					</div>

		        	<div class="row" >
		        		<div class="col-sm-10" id="info">
				      		<h3 id="laureate_name"></h3>
				      		<table id="laureateInfo">
				      			<span id="laureate_img" style="height:200px; width:200px"></span>
				      			<tr>
				      				<td class="inf" colspan="2">Nobel prize in <span id="laureate_category"></span> <span id="laureate_year"></span></td>
				      			</tr>
				      			<tr>
					      			<td class="inf">Gender:</td> <td id="laureate_gender"></td>
					      		</tr>
					      		<tr>
					      			<td class="inf">Born:</td> <td id="laureate_born"></td>
					      		</tr>
				      			<tr>
					      			<td class="inf">Country:</td> <td id="laureate_country"></td>
					      		</tr>
					      		<tr>
					      			<td class="inf">Motivation:</td> <td id="laureate_motivation"></td>
					      		</tr>
								<tr>
					      			<td class="inf">Wiki:</td> <td id="laureate_wiki"></td>
					      		</tr>
				      		</table>
				      		<table id="countryInfo">
				      			<tr>
					      			<td class="inf">Number of laureates:</td> <td><span>{{totalPrizes.label}}</span></td>
					      		</tr>
				      		</table>
				      	</div>
		      		</div>
		   		</div>
				
			</div>
		</div>
		<div id="chord" ng-hide="hideChord" ng-controller="chord">
  			<table>
  				<tr>
  					<td>
      					<div id="flow" ng-click="flowClick()"></div>
    				</td>
    				<td>
      					<form action="">
        					<input type="radio" name="gender" value="gender" checked="checked" ng-click="genderData()"> Gender<br></input>
        					<input type="radio" name="gender" value="age" ng-click="ageData()"> Age<br></input>
      					</form>
    					<br><br>{{chordText}}
    				</td>
  				</tr>
			</table>
  			<p><a href="https://bitbucket.org/artstr/d3elements.git">Code for original Chord Diagram</a></p>
		</div>
		<div id="project" ng-hide="hideProject" >
			Our project goes here ish
		</div>
	</div>

	<!-- Angular Scripts -->
	<script src="js/lib/angular/angular.js"></script>
	<script src="js/app.js"></script>
	<script src="js/controllers/nobelCtrl.js"></script> 
	<script src="https://d3js.org/topojson.v1.min.js"></script>
	<script src="https://d3js.org/queue.v1.min.js"></script>
 	<!--<script src="js/data/dataManager.js"></script>
 	<script src="js/data/dataFormatter.js"></script>-->
	<script src="js/services/prizeService.js"></script>
	<script src="js/services/worldBankService.js"></script>
	<script src="js/services/nobelService.js"></script>
	<script src="js/services/yearService.js"></script>	
	<script src="js/services/wikipediaService.js"></script>
	<script src="js/lib/d3.v3.js"></script>
	<script src="js/sunburst.js"></script>
	<script src="js/flowChord.js"></script>
	<script src="js/chord.js"></script>

	<script>
		// update the clicked choice (ie. sunburst or chord chart/project) so div gets active = changes color to indicate clicked
		d3.select('#menubar')
			.selectAll('div')
			.on('click', function() {
				d3.selectAll('div').classed('active', false);
				var div = d3.select(this);
				div.classed('active', true);
			});
	</script>
</body>
</html>