<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
  	<title>Nobel Le Bon Ne Bol Lo Neb</title>

  	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  	
  	<link rel='stylesheet prefetch' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
	
	<link href="https://fonts.googleapis.com/css?family=Tangerine" rel="stylesheet">
	
	<link href='https://fonts.googleapis.com/css?family=Didact+Gothic' rel='stylesheet' type='text/css'>
	
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">

	<!-- Our stylesheet -->
	<link href="style.css" rel="stylesheet" type="text/css" />	

	<script src="https://code.jquery.com/jquery-1.12.3.min.js" integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ=" crossorigin="anonymous"></script>

</head>
<header>

</header>
<!-- Container for our app, using the nobelController -->
<body ng-app="nobelApp" ng-controller="nobelCtrl" >
	<div id="container-fluid wrapper">
		<!-- top menu bar for choice of visualization -->
		<div id="menubar" class="col-md-12">
			<div class="col-md-4 active" id="choice1" ng-click="pageButton('globeSunburstPage')">
				Sunburst
			</div>
			<div class="col-md-4" id="choice2" ng-click="pageButton('chord')">
				Chord Chart
			</div>
			<div class="col-md-4" id="choice3" ng-click="pageButton('project')"
			>
				Our Project
			</div>
		</div>
		<!-- Here are the divs containing the separate visualization pages-->
		<div id="globeSunburstPage" class="col-md-12" ng-hide="hideSunburst">
			<div id="main">
      		</div>
      		<div class="col-md-6">
				<div id="globeSunburst" ng-controller="sunburst">
					<div id="globe">
					</div>
					<div id="sunburst">
					</div>
				</div>
			</div>
			<div id="sidebar" class="col-md-6" style="float:left;">
				<div class="categoryChoice row">
							<div class="col-md-12">
								<form class="catChoice">
									<div class="col-md-6">
										<label class="color-chemistry">
											<input type="checkbox" ng-model="catChoiceChemistry" ng-change="catChoice()" checked/><span class="catChoiceCheckbox"><span></span></span> Chemistry
										</label></br>
										<label class="color-economics">
											<input type="checkbox" ng-model="catChoiceEconomics" ng-change="catChoice()" checked/><span class="catChoiceCheckbox"><span></span></span> Economics
										</label></br>
										<label class="color-literature">
											<input type="checkbox" ng-model="catChoiceLiterature" ng-change="catChoice()" checked/><span class="catChoiceCheckbox"><span></span></span> Literature
										</label>
									</div>
									<div class="col-md-6">
										<label class="color-medicine">
											<input type="checkbox" ng-model="catChoiceMedicine" ng-change="catChoice()" checked/><span class="catChoiceCheckbox"><span></span></span> Medicine
										</label></br>
										<label class="color-peace">
											<input type="checkbox" ng-model="catChoicePeace" ng-change="catChoice()" checked/><span class="catChoiceCheckbox"><span></span></span> Peace
										</label></br>
										<label class="color-physics">
											<input type="checkbox" ng-model="catChoicePhysics" ng-change="catChoice()" checked/><span class="catChoiceCheckbox"><span></span></span> Physics
										</label>
									</div>
								</form>
							</div>
				</div>

	        	<div id="info">
		      		<h3 id="name"></h3>
		      		<table id="laureateInfo">
		      			<tr>
			      			<td class="inf">Gender:</td> <td id="gender"></td>
			      		</tr>
		      			<tr>
			      			<td class="inf">Country:</td> <td id="country"></td>
			      		</tr>
			      		<tr>
			      			<td class="inf">Category:</td> <td id="category"></td>
			      		</tr>
			      		<tr>
			      			<td class="inf">Year:</td> <td id="year"></td>
			      		</tr>
			      		<tr>
			      			<td class="inf">Motivation:</td> <td id="motivation"></td>
			      		</tr>
		      		</table>
		      		<table id="countryInfo">
		      			<tr>
			      			<td class="inf">Number of laureates:</td> <td id="num"></td>
			      		</tr>
		      		</table>
	      		</div>
	   		</div>
			<div id ="timeslide" class="col-md-7">
			</div>
		</div>
		<div id="chord" ng-hide="hideChord" >
			<h1 id ="text">Now showing: Prizes by Category and Gender</h1>
  			<table>
  				<tr>
    				<td>
      					<form action="">
        					<input type="radio" name="gender" value="gender" checked="checked" onclick="genderData()"> Gender<br></input>
        					<input type="radio" name="gender" value="age" onclick="ageData()"> Age<br></input>
      					</form>
    				</td>
    				<td>
      					<div id="flow"></div>
    				</td>
  				</tr>
			</table>
  			<p><a href="https://bitbucket.org/artstr/d3elements.git">Code for original Chord Diagram</a></p>
		</div>
		<div id="project" ng-hide="hideProject" >
			Our project goes here ish
		</div>
	</div>

	<!-- Angular Scripts -->
	<script src="js/lib/angular/angular.js"></script>
	<script src="js/app.js"></script>
	<script src="js/controllers/nobelCtrl.js"></script> 
	<script src="https://d3js.org/topojson.v1.min.js"></script>
	<script src="https://d3js.org/queue.v1.min.js"></script>
 	<!--<script src="js/data/dataManager.js"></script>
 	<script src="js/data/dataFormatter.js"></script>-->
	<script src="js/services/worldBankService.js"></script>
	<script src="js/services/nobelService.js"></script>
	<script src="js/services/yearService.js"></script>
	<script src="js/lib/d3.v3.js"></script>
	<script src="js/sunburst.js"></script>
	<script src="js/chord.js"></script>
	<script src="js/info.js"></script>

	<script>
		// update the clicked choice (ie. sunburst or chord chart/project) so div gets active = changes color to indicate clicked
		d3.select('#menubar')
			.selectAll('div')
			.on('click', function() {
				d3.selectAll('div').classed('active', false);

				var div = d3.select(this);

				div.classed('active', true);
			});

	</script>
</body>
</html>